
body{
    font-family: Arial, sans-serif;
    font-size: 13px;
}
#container{
    width:580px;
    margin:0 auto;
    text-align: center;
}
h1#logo{
    width: 284px;
    height: 95px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/GoogleLogoSept12015.png") top left no-repeat;
    background-size: 100%;
    text-indent: -99999px;
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 580px;
    padding: 18px;
    margin:25px 0 20px;
    border: none;
    font-size:16px;
    border-radius: 50px;
    outline: none;
}

.glas{
    margin-left: -650px;
    position: absolute;
    z-index: -10;
    margin-bottom: -10px;
    margin-top: 20px
}


.zoeken[type="text"]:hover {
    box-shadow: 1px 1px 3px 4px #ccc;
}
input[type="submit"] {
    background: #eee;
    color: #696969;
    width: 132px;
    padding: 6px;
    margin:25px 8px 10px 0;
    border:solid 0px #ddd;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold; 
    border:solid 0.5px #ddd;
    border-radius: 5px;
}
input[type="submit"]:hover {
    border-color: #ccc;
    border:solid 1px #ccc;
    cursor: pointer;
}
small {
    margin: 0 auto;
    font-size: 12px;
}
a:link, a:visited {
    color: dodgerblue;
}
.header{
    text-align:right;
    padding-top: 1px;
}
.header ul li{
    display:inline;    
}

.header ul li a:link, visited,
.clearfix  ul li a:link, visited{
    color: #555;
    text-decoration: none;
    padding:11px;
}
nav#header ul li a:hover,
footer nav ul li a:hover{
    text-decoration:underline
} 
footer{
    background: #eee;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer nav{
    padding: 0px;
    border-top:solid 1px #ccc;
}
nav ul li{
    display: inline;
}

footer nav ul.right-links{
    float:right
}
footer nav ul.left-links{
    float:left
}
.clearfix:after{
    content:"";
    display:table;
    clear:both;
    
}



